In [83]:
nama = "Rubby"
print(nama)

Rubby

In [84]:
nama = "Mahidin \n"
alamat = "Jl. Basuki Rahmat"

print("Nama : ", nama, "Alamat :")

Nama :  Mahidin
 Alamat :

In [85]:
nilai_matematik = 85
nilai_bahasa = 65

avg = (nilai_matematik+nilai_bahasa)/2

In [86]:
avg

75.0

In [87]:
import numpy as np #mengaktifkan tipe data array
ipk = np.array([90, 50, 70, 29])
ipk2 = np.array([2, 4, 2, 3])
hasil = ipk / ipk2

print (hasil)

[45.         12.5        35.          9.66666667]

In [88]:
nama_buah = ['pisang', 'semangka', 'mangga', 'melon']
print(nama_buah[0])

pisang

In [89]:
buku = {
    "001" : "rekayasa Perangkat Lunak",
    "price01" : "2000",
    
    "002" : "Machine Learning",
    "price02" : "25000",
}
for key in buku:
    print(key, '=>', buku["001"])

001 => rekayasa Perangkat Lunak
price01 => rekayasa Perangkat Lunak
002 => rekayasa Perangkat Lunak
price02 => rekayasa Perangkat Lunak