In [5]:
#membuat tuple kosong
#Output: ( )
my_tuple = ()
print(my_tuple)

# tuple dengan 1 elemen
# Output: (1,)
my_tuple = (1,)

print (my_tuple)

# tuple berisi integer
# output = (1, 2, 3)
my_tuple = (1, 2, 3)
print(my_tuple)

# tuple bersarang 
# Output: ("hello", [1, 2, 3], (4, 5, 6))
my_tuple = ("hello", [1, 2, 3], (4, 5, 6))
print(my_tuple)

# Tuple bisa tidak menggunakan tanda ()
# output (1, 2, 3)
my_tuple = 1, 2, 3

# memasukkan anggota tuple ke variabel yang bersesuaian
# a akan berisi 1, b berisi 2, dan c berisi 3
# output 1 2 3
a, b, c = my_tuple
print(a, b, c)

()
(1,)
(1, 2, 3)
('hello', [1, 2, 3], (4, 5, 6))
1 2 3

In [11]:
my_tuple = ('p', 'y', 't', 'o', 'n')
# output: 'p'
print(my_tuple[0])

# output: 'y'
print(my_tuple[1])

# output: 'n'
print(my_tuple[-1])

# output: 'o'
print(my_tuple[-2])

p
y
n
o

In [13]:
my_tuple = (2, 3, 4, [5, 6])
# kita tidak bisa mengubah anggota tuple
# bila kita hilangkan tanda komentar # pada baris 6
# akan muncul error: # Typeerror: 'tuple' object does not support item assignment
# my_tuple[1] = 8

# tapi list dalam tuple bisa diubah
# output : (2, 3, 4, [7, 6])
my_tuple[3][0] = 7
print(my_tuple)

# tuple bisa diganti secara keseluruhan dengan penugasan kembali
# output: ('p', 'y', 't', 'h', 'o', 'n')
my_tuple = ('p', 'y', 't', 'h', 'o', 'n')
print(my_tuple)

# anggota tuple juga tidak bisaa dihapus menggunakan del
# perintah berikut akan menghasilkan error typeerror
# kalau anda menghilangkan tanda komentar #

# del my_tuple[0]

# kita bisa menghapus tuple keseluruhan

del my_tuple

(2, 3, 4, [7, 6])
('p', 'y', 't', 'h', 'o', 'n')

In [15]:
my_tuple = (1, 2, 3, 'a', 'b', 'c')

# menggunakan in
# output: True
print('3' in my_tuple)

# output: false
print('e' in my_tuple)

# menggunakan not in
# output True
print('k' not in my_tuple)

False
False
True

In [18]:
# output:
# Hi Galih
# Hi Ratna
nama = ('Galih', 'Ratna')
for name in nama:
    print('Hi', name)

Hi Galih
Hi Ratna

In [19]:
my_tuple = ('p', 'y', 't', 'h', 'o', 'n', 'i', 'n', 'd', 'o')
# count
# output: 2
print(my_tuple.count('n'))

# index
# Output 4
print(my_tuple.index('n'))

2
5

In [23]:
# set integer
my_set = {1,2,3}
print(my_set)

# set dengan menggunakan fungsi set()
my_set = set([1,2,3])
print(my_set)

#set data campuran
my_set = {1, 2.0, "Phyton", (3,4,5)}
print(my_set)

# bila kita mengisi duplikasi, set akan menghilangkan salah satu
# output: {1,2,3}
my_set = {1,2,2,3,3,3}
print(my_set)

{1, 2, 3}
{1, 2, 3}
{1, 2.0, (3, 4, 5), 'Phyton'}
{1, 2, 3}

In [24]:
# bila kita hilangkan tanda # dari baris 9 akan muncul error TypeError
# my_set[0]

# menambah satu anggota
# output: {1,2,3,4}
my_set.add(4)
print(my_set)

# menambah beberapa anggota
# set akan menghilankan duplikasi
# output: {1,2,3,4,5,6}
my_set.update([3,4,5,6])
print(my_set)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}

In [25]:
# membuat set baru
my_set = {1, 2, 3, 4, 5}
print(my_set)

# menghapus 4 dengan discard
# output: {1, 2, 3, 5}
my_set.discard(4)
print(my_set)

#menghapus 5 dengan remove
# output : {1, 2, 3}
my_set.remove(5)
print(my_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}
{1, 2, 3}

In [27]:
# membuat set baru
# output: set berisi anggota yang unik
my_set = set("helloPhthon")
print(my_set)

# pop anggota
# output: anggota acak
print(my_set.pop())

# pop anggota lainnya
# output: anggota acak
print(my_set.pop())

# mengosongkan set
# output: set()
my_set.clear()
print(my_set)

{'o', 't', 'l', 'h', 'e', 'n', 'P'}
o
t
set()

In [28]:
# membuat set A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

#Gabungan menggunakan operator |
# output: {1, 2, 3, 4, 5, 6, 7, 8}
print(A | B)

# Menggunakan fungsi union()
# output: {1, 2, 3, 4, 5, 6, 7, 8}
A.union(B)

# output: {1, 2, 3, 4, 5, 6, 7, 8}
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}

In [30]:
# membuat set A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

#irisan menggunkan operator &
# output: {4,5}
print(A & B)
# menggunakan fungsi intersection()
#output: {4,5}
A.intersection(B)

#output: {4,5}
B.intersection(A)

{4, 5}

{4, 5}

In [31]:
# membuat A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# Menggunakan operator - pada A
# Output: {1, 2, 3}
print(A - B)

# output: {1, 2, 3}
A.difference(B)

# menggunakan operator - pada B
# output: {8, 6, 7}
print(B - A)

#output: {8, 6, 7}
B.difference(A)

{1, 2, 3}
{8, 6, 7}

{6, 7, 8}

In [32]:
# membuat A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# menggunakan operator ^ pada A
# output: {1, 2, 3, 6, 7, 8}
print(A ^ B)

#output: {1, 2, 3, 6, 7, 8}
A.symmetric_difference(B)

# menggunakan operator ^ pada B
# output: {1, 2, 3, 6, 7, 8}
print(B ^ A)

# output: {1, 2, 3, 6, 7, 8}
B.symmetric_difference(A)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

{1, 2, 3, 6, 7, 8}